.telaFundo {
	background-color: #5F9EA0
}

.card {
	width: 850px;
    padding-right: 0px;
    padding-left: 0px;
    top: 110px;
}

.card-body {
	overflow: auto;
}

.botaoDireita {
	float: right;
}

.text-center{
  text-align: center;
}

#divBuscaColaborador {
  border:solid 1px;
  width:850px;
}
 
#txtBuscaColaborador {
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:800px;
}

#btnExit {
	float: right;
	margin-top: -280px;
	margin-right: 60px;
	margin-bottom: -200px;
}

.internal {
	overflow: auto;
}

.borda-quadro {
	border: 2px solid gray;
  	border-radius: 5px;
}