<main>
	<div class="container card">
		<div class="row">
			    <div>
			      <div class="card-body">
			      	<div class="row">
			      		<div class="col-md-12">
			    			<button type="button"  class="btn btn-light border border-dark botaoDireita">
			    				<i class="fas fa-check"></i>  Salvar
			    			</button>
	    				</div>
			      	</div>
			      	<br/>
			      	<div class="row">
				      	<div class="col-sm-3">
				      		<img src="..." alt="..." class="rounded-circle" style="background-color: gray;">
				      	</div>
				      	<div class="col-sm-9">
					        <input type="text" class="form-control input-lg" placeholder="digite o nome" ng-model="colaborador.nome" /><br/><br/>
					        <select  
					        	class="form-control"
					        	id="cargos"
					        	ng-options="c.descricao for c in cargos track by c.id"
					        	ng-model="cargoSelecionado">
					        	<option value="">--Selecione o Cargo--</option>
						    </select><br/>
						    <select  
					        	class="form-control"
					        	id="departamentos"
					        	ng-options="d.nomeDepartamento for d in departamentos track by d.id"
					        	ng-model="departamentoSelecionado">
					        	<option value="">--Selecione o Departamento--</option>
						    </select><br/>
				    	</div>
			        <div>
			      </div>
			    </div>
			   <hr/>
			   <div class="row">
			   		<div class="col-md-12">
			   			<textarea cols=113 id="descricaoFuncaoId" rows="5" name="funcao" maxlength="1000" wrap="hard" placeholder="descreva a função exercida. "></textarea>
			   		</div>
			   </div>
			   <br/>
			   <span>
			   	<h5>Competências</h5>
			   <div class="row">
			   		<div class="col-md-12">
			   			<textarea cols=113 id="descricaoFuncaoId" rows="5" name="funcao" maxlength="1000" wrap="hard" placeholder="descreva a função exercida. "></textarea>
			   		</div>
			   </div>
		</div>
		<div class ="card">
			<!-- input type="text" placeholder="digite o cargo" ng-model="colaborador.cargo"/><br/>
			<input type="text" placeholder="digite o departamento" ng-model="colaborador.departamento"/><br/>
			<input type="text" placeholder="digite a localidade" ng-model="colaborador.localidade"/><br/>
			<input type="text" placeholder="digite a função" ng-model="colaborador.descricaoFuncao"/><br/> -->
			<!--input type="button" value="Salvar" ng-click="salvarColaboradores()"/>
			<input type="button" value="Cancelar" ng-click="cancelarAlterarColaborador()"/-->
		</div>
	</div>
</main>